[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3C00430006504E5238363120-if00


#[include generic-bigtreetech-xxx.cfg]
#[include generic-bigtreetech-skr-mini-e3-v3.0.cfg]
[include e3klipper.cfg]

# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
#variable_load_length: 90.0
# Hide the Octoprint LCD menu since I don't use it.
#variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [
#  {'name' : 'PLA',  'extruder' : 200.0, 'bed' : 60.0},
#  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0},
#  {'name' : 'ABS',  'extruder' : 245.0, 'bed' : 110.0, 'chamber' : 60}]
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 30 # This value works for most setups.
gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
#[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
#[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/gcode_files # UPDATE THIS FOR YOUR PATH!!!
on_error_gcode: CANCEL_PRINT

[display_status]





#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.345000, 0.281250, 0.185000, 0.078750, -0.052500
#*# 	0.271250, 0.180000, 0.115000, -0.023750, -0.235000
#*# 	0.183750, 0.116250, 0.026250, -0.095000, -0.262500
#*# 	0.227500, 0.160000, 0.056250, -0.018750, -0.251250
#*# 	0.166250, -1.568750, 0.125000, 0.036250, -0.137500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 217.0
#*# min_y = 50.0
#*# max_y = 178.0
#*#
#*# [bed_mesh test]
#*# version = 1
#*# points =
#*# 	  0.241250, 0.318750, 0.395000, 0.375000, 0.303750
#*# 	  -0.037500, 0.063750, 0.175000, 0.178750, 0.121250
#*# 	  -0.408750, -0.188750, -0.002500, 0.092500, 0.161250
#*# 	  -0.577500, -0.333750, -0.088750, 0.127500, 0.163750
#*# 	  -1.242500, -3.266250, -0.191250, 0.157500, 0.461250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 217.0
#*# min_y = 50.0
#*# max_y = 178.0
